<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | codingkai</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/favicon2.ico" sizes="any"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/static/css/markdown_style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/post_board.css"/>
</head>
<body>
<canvas style="position: fixed"></canvas>
<span id="raw-title">Raw Post</span>
<div id="raw">
    <textarea name="raw_post" id="raw_post" cols="50" rows="20"></textarea>
</div>
<span id="preview-title">Preview</span>
<div id="preview"></div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/star.js"></script>
<script src="/static/js/marked.min.js"></script>
<script src="/static/js/highlight.min.js"></script>
<script src="/static/js/highlight.min.js"></script>
<script src="/static/js/show_preview.js"></script>
</body>
</html>